* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF8E8;
}

.header {
    background-color: #262626;
    padding: 10px;
}

.header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__dropdown,
.header__icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__icon {
    background-image: url('./images/logo1.png');
}

.header__dropdown {
    background-image: url('./images/dropdown.png');
}

.navigation {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s .1s ease-in-out;
    overflow: hidden;
}

.navigation__item {
    padding: 2px;
}

.navigation__link {
    text-decoration: none;
    color: white;
}

.navigation__list {
    padding: 10px 0 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation--hidden {
    height: 0;
    overflow: hidden;
}

.header,
.footer {
    color: white;
}

.main,
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__bannerBg {
    background-image: url('./images/bannerBg.jpg');
    width: 100vw;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.main__banner {
    background-image: url('./images/banner.png');
    width: 70%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.main__heading {
    margin-bottom: 10px;
    font-weight: normal;
    width: 90%;
    font-size: 22px;
    text-align: center;
}

.main__heading--big {
    font-size: 26px;
}

.article {
    margin: 20px 0 20px;
}

.article__paragraph {
    width: 90%;
    text-align: center;
}

.article__image {
    background-image: url('./images/right.png');
    width: 100vw;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.article__image--hidden {
    display: none;
}

.article__paragraph {
    margin: 5px 5px;
}

.main__button {
    width: 75%;
    height: 40px;
    border: none;
    background-color: #F39A00;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

.footer {
    background-color: #262626;
    margin-top: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__links,
.footer__logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px;
}

.footer__heading {
    margin: 10px 0 10px;
}

.footer__paragraph {
    margin: 5px 10px;
}

.footer__FAJ {
    background-image: url('./images/faj.png');
    width: 218px;
    height: 99px;
}

.footer__UMK {
    background-image: url('./images/umk.png');
    width: 204px;
    height: 172px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}