<main class="main">
    <div class="main__bannerBg">
        <div class="main__banner"></div>
    </div>
    <h1 class="main__heading main__heading--big">
        7th Polish Conference “Graphene and other 2D materials”
    </h1>
    <p>Torun 23-26 September 2023</p>
    <div class="main__wrapper">
        <article class="article">
            <section class="article__section article__section--left">
                <h2 class="main__heading main__heading--left">Dear reaserchers, scientists, nanotechnoligits</h2>
                <p class="article__paragraph">
                    We are pleased to invite you to participate in the latest edition of the conference on graphene and 2D materials.
                    The 7th Polish Conference “Graphene and other 2D materials” will be held in Torun, on September 23-26, 2023, at The Nicolaus Copernicus University.
                    The Faculty of Physics and Applied Informatics is responsible for the organization of the event.
                </p>
            </section>
            <div class="article__image"></div>
        </article>
        <article class="article">
            <div class="article__image article__image--change article__image--hidden"></div>
            <section class="article__section article__section--right">
                <h2 class="main__heading main__heading--right">About the conference</h2>
                <p class="article__paragraph article__paragraph--right">
                    The aim of the conference is to present scientific results and exchange experiences as well as to consolidate the Polish and European scientific
                    community related to nanoscience and nanotechnology, graphene materials and other 2D materials.
                </p>
                <p class="article__paragraph article__paragraph--right">
                    Previous editions were organized by the Wrocław University
                    of Science and Technology (2021 - Online) and the West Pomeranian University of Technology in Szczecin.
                </p>
                <p class="article__paragraph article__paragraph--right">
                    The program includes both lectures by invited guests and presentations of selected works submitted to the
                    Conference. A large part of the submitted works will be presented during poster sessions. The official language
                    of the conference is English.
                </p>
                <p class="article__paragraph article__paragraph--right">
                    The conference is addressed to a wide range of people
                    involved in interdisciplinary research on the border of
                    physics, chemistry and materials science. In particular, we
                    invite people starting their scientific careers to take part
                    in the Conference. We would also like to ask industry representatives to actively participate in the planned event.
                </p>
            </section>
        </article>
        <button class="main__button">Show partners</button>
    </div>
    <!--TODO partners article -->
</main>