.navigation {
    @include FlexCenter;

    height: 200px;
    transition: .2s .1s ease-in-out;
    overflow: hidden;

    @include mq(large) {
        width: 90%;
        justify-content: flex-end;
    }

    @include mq(xlarge) {
        width: 80%;
        justify-content: flex-end;
    }

    &__item {
        padding: 2px;

        @include mq(xlarge) {
            font-size: 22px;
        }
    }

    &__link {
        text-decoration: none;
        color: $white;
    }

    &__list {
        @include FlexCenter;

        flex-direction: column;
        list-style-type: none;

        @include mq(large) {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &--hidden {
        height: 0;
        overflow: hidden;

        @include mq(large) {
            height: 100%;
        }
    }
}
