.footer {
    @include FlexCenter;

    background-color: $dark;
    margin-top: 20px;
    padding: 5px;
    flex-direction: column;
    color: $white;

    @include mq(large) {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px 0px;
    }

    &__links,
    &__logos,
    &__contacts {
        @include FlexCenter;
        
        @include mq(large) {
            width: 30%;
        }
        flex-direction: column;
    }

    &__logos {
        @include mq(large) {
            flex-direction: row;
        }
    }

    &__paragraph {
        margin: 5px 0 10px;
    }

    &__FAJ {
        background-image: url('../images/faj.png');
        width: 220px;
        height: 100px;
        margin-right: 10px;

        @include mq(large) {
            width: 150px;
            height: 60px;
        }

        @include mq(xlarge) {
            width: 220px;
            height: 100px;
        }
    }

    &__UMK {
        background-image: url('../images/umk.png');
        width: 200px;
        height: 170px;
        background-size: contain;
        margin: 15px;

        @include mq(large) {
            width: 150px;
            height: 100px;
        }

        @include mq(xlarge) {
            width: 200px;
            height: 170px;
        }
    }
}