.footer {
    @include FlexCenter;

    background-color: $dark;
    margin-top: 20px;
    padding: 5px;
    flex-direction: column;
    color: $white;

    @include mq(large) {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px 0px;
    }

    &__links,
    &__logos,
    &__contacts {
        @include FlexCenter;
        
        @include mq(large) {
            width: 33%;
        }
        flex-direction: column;
    }

    &__logos {
        @include mq(large) {
            flex-direction: row;
        }
    }

    &__paragraph {
        margin: 5px 0 10px;
    }

    &__FAJ {
        background-image: url('../images/faj.png');
        width: 140px;
        height: 60px;
    }

    &__UMK {
        background-image: url('../images/umk.png');
        width: 130px;
        height: 110px;
        margin: 15px;
    }
}