.header {
    background-color: $dark;
    padding: 10px;
    position: sticky;
    top: 0;

    @include mq(large) {
        @include FlexCenter;

        justify-content: space-between;
        padding: 20px 50px 20px;
    }

    &__icons {
        @include FlexCenter;
        justify-content: space-between;
    }

    &__dropdown,
    &__icon {
        width: 40px;
        height: 40px;
    }

    &__icon {
        background-image: url('../images/logo1.png');
        background-size: contain;
        @include mq(large) {
            width: 80px;
            height: 80px;
        }
    }

    &__dropdown {
        background-image: url('../images/dropdown.png');

        @include mq(large) {
            display: none;
        }
    }
}